{% extends 'main.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3 mb-5">Blog Posts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <form action="{% url 'home' %}" method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search posts" aria-label="Search posts"
                                   aria-describedby="basic-addon1" name="q" value="{{ request.GET.q }}">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <a href="{% url 'create-post' %}">
                        <button class="btn btn-primary w-100">Create Post</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                {% for post in posts %}
                    <div class="card col-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <h6 class="card-subtitle mb-2 text-muted">@{{ post.user.username }}</h6>
                            <p class="card-text">{{ post.text }}</p>
                            <a href="{% url 'post' post.id %}" class="btn btn-primary">View post</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}